---

# This helmfile is for extracting and installing Custom Resource Definitions (CRDs) from Helm charts.
# It is not intended to be used with helmfile apply or helmfile sync.

helmDefaults:
  args:
    - --include-crds
    - --no-hooks

releases:
  - name: traefik
    namespace: traefik
    chart: oci://ghcr.io/traefik/helm/traefik
    version: 39.0.4

  - name: kube-prometheus-stack
    namespace: observability
    chart: oci://ghcr.io/prometheus-community/charts/kube-prometheus-stack
    version: 82.10.1
